@media screen and (max-width:320px) {
  .slider-txt {
    position: absolute;
    top: 12rem;
    left: 2rem;
    width: 100%;
  
    h1 {
      font-size: 0.8rem;
  
      .largeTxt {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  
    p {
      font-size: 0.6rem;
    }
  }
  //Navbar
.fixed-menu {
  a {
    padding: 0.5rem;
  }
}

.serviceMain {
  display: block !important;

  .serviceOne {
    width: 100%;
    padding: 0 0.5rem !important;
  }
}
}

//Portfolio
.linkList {
  display: block !important;
  .linkItem {
    display: inline-block;
    padding: 1rem 0;
  }
}

.rowImg {
  .colImg {
    &:first-child {
      flex: 100%;
      max-width: 100%;
    }
    flex: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
    }
  }