@import 'config';
@import 'utilities';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  color: 808080;
}

p {
  font-size: 0.5rem;
  margin-bottom: 0.3rem;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444444;
  text-align: center;
}

//Navbar
.fixed-menu {
  padding: 2rem 0;

  ul {
    display: flex;
  }
  .active {
    color: $hover-text;
  }
  a {
    padding: 0.5rem 0.9rem;
    color: $primary-text;
    
    &:hover {
      text-decoration: none;
      color: $hover-text;
    }
  }
}
.slider-txt {
  color: $white-text;
  position: absolute;
  top: 22rem;
  left: 12rem;
  width: 50%;

  h1 {
    font-size: 1.5rem;

    .largeTxt {
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

  p {
    font-size: 1rem;
  }
}

//Intro
.intro {
  margin-top: 4rem;

  h3 {
    font-size: 2.2rem;
    color: $primary-text;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 2.8rem;

    span {
      color: $hover-text;
    }
  }

  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 2rem 0;
  }
}

//Services
.serviceSec {
  margin-top: 2rem;
  padding: 3rem 0;
  text-align: center;

  .serviceMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .serviceOne {
      padding: 0 1.5rem;

      i {
        color: $primary-text;
        padding: 1rem 0;
        text-align: center;
      }

      .serviceTitle {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 700;
        margin: 0.8rem 0;
        text-align: center;
      }

      .serviceDesc {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0.5rem 0;
        text-align: center;
      }
    }

  }
}

//Portfolio
.portfolio {
  text-align: center;

  .projectLinks {
    text-align: center;

    .linkList {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      .active {
        color: $white-text;
        text-decoration: none;
        background-color: #07877b;
      }
    }
  }

  .rowImg {
    display: flex;
    flex-wrap: wrap;

    .colImg {
      &:first-child {
        flex: 50%;
        max-width: 50%;
      }
      flex: 25%;
      max-width: 25%;
      padding: 0 0.5rem;

      img {
        margin-top: 0.5rem;
        vertical-align: middle;

        &:hover {
          background: rgba(0,150,136,0.5);
          cursor: pointer;
        }
      }
    }

  }
}

@import 'media';